body {
font-family: 'Helvetica Neue', Helvetica, sans-serif;
margin-left: 60px;
}


.title {
font-weight: bold;
font-size: 46pt;
margin-top: 10px;
margin-bottom: 0px;
margin-left: 30px;
}

.zagolovok_h2 {
font-weight: bold;
font-size: 20pt;
margin-top: 0px;
margin-bottom: 0px;
}

.portfolio
{
	margin-right: 30px;
}



.lid {
font-size: 20px;
}


.text {
font-family: 'Helvetica Neue', Helvetica, sans-serif;
font-size: 14pt;
margin-left: 30px;
width:600px;
line-height: 1.4em;
}


a {
color: #0b568a;
}

a:hover {
color:red;
}
